#!/usr/bin/env bash

if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  echo 'while direnv evaluated .envrc, could not find the command "lorri" [https://github.com/nix-community/lorri]'

  use nix
fi

